data_files/embeddings/*.h5
models/models_*
outputs/*
src/__pycache__/*

.DS_Store

playground.ipynb
/venv
/data_df_all0.csv
/data_df_all1.csv
/data_df_all2.csv
/data_df_all3.csv
/data_df_all4.csv
/probabilities0.csv
/probabilities1.csv
/probabilities2.csv
/probabilities3.csv
/probabilities4.csv


/Submission/239183M_H.R.N.A.Waruna_Adv_BioInformatics_Project_Report.pdf